@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="main-page-div" class="container d-flex justify-content-center align-items-center flex-lg-column">
    <h2 id="workouts-txt"class="text-lg-center text-decoration-underline">Your Workouts</h2>
    @if (Model.Workouts.Count >= 1)
    {
        <table id="workouts" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Workouts[0].Date)</th>
                    <th>@Html.DisplayNameFor(m => m.Workouts[0].StartTime)</th>
                    <th>@Html.DisplayNameFor(m => m.Workouts[0].EndTime)</th>
                    <th>@Html.DisplayNameFor(m => m.Workouts[0].Duration)</th>
                    <th>@Html.DisplayNameFor(m => m.Workouts[0].MuscleGroup)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workout in Model.Workouts)
                {
                    <tr >
                        <td>@Html.DisplayFor(modelItem => workout.Date)</td>
                        <td>@Html.DisplayFor(modelItem => workout.StartTime)</td>
                        <td>@Html.DisplayFor(modelItem => workout.EndTime)</td>
                        <td>@Html.DisplayFor(modelItem => workout.Duration)</td>
                        <td>@Html.DisplayFor(modelItem => workout.MuscleGroup)</td>
                        <td>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@workout.Id">Delete</a>
                            <a class="btn btn-primary" asp-page="./Update" asp-route-id="@workout.Id">Edit</a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-decoration-underline text-lg-center">No workouts have been added yet.</h2>
    }

    <div class="d-flex justify-content-between align-items-center w-100 mb-2">
        <a type="button" class="btn btn-success w-20 align-self-start" asp-area="" asp-page="/Create">
            Add New Workout
        </a>
        <span id="total-hrs" class="text-lg-start fw-bolder text-decoration-underline">Total Hours Spent Working Out: @ViewData["Total"]</span>
        @if (Model.Workouts.Count >= 1)
        {
            <a type="button" class="btn btn-success" asp-area="" asp-page="/Export">Export Workouts To Excel Sheet</a>
        }
        
    </div>
    
</div>



